@font-face {
    font-family: 'Rubic-bold';
    src: url('../assets/fonts/Rubik-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Rubic';
    src: url('../assets/fonts/Rubik-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Rubic-light';
    src: url('../assets/fonts/Rubik-Light.ttf');
    font-weight: normal;
}