.header_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 20px;
}

.logo {
    width: 200px;
    height: 200px;
    margin-right: 5%;
    object-fit: cover;
    border-radius: 99em;
}

.image_header_text {
    display: flex;
    flex: 5;
}

@media all and (max-width: 980px) {
    .header_container {
        flex-direction: column;
    }
    .logo {
        margin-bottom: 5%;
    }
}
