.info_block__container {
    padding: 20px 0;
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
}

.info_block__image {
    width: 200px;
    height: 200px;
    margin-right: 5%;
    object-fit: cover;
    border-radius: 99em;
}

@media all and (max-width: 980px) {
    .header_container {
        flex-direction: column;
    }
    .info_block__image {
        margin-bottom: 5%;
    }
}

