:root {
    /*colors*/
    --primaryColor: #344955;
    --primaryDark: #232F34;
    --primaryLight: #4A6572;
    --secondaryColor: #E99922;
    --secondaryLight: #F9AA33;
    --textWhite: #f5f5f5;
    --grey: #999999;

    /*font-sizes*/
    --header: 50pt;
    --header-mobile: 40pt;
    --subHeader: 30pt;
    --subHeader-mobile: 24pt;
    --regular: 20pt;
    --regular-mobile: 16pt;
    --small: 15pt;
    --small-mobile: 12pt;

    /* viewport */
    --mobile-to-desktop-boundary: 980px;
    --desktop-width: 1280px;
    --tablet-width: 1020px;
    --mobile-width: 720px;
    --min-width: 320px;
    --iphone6-width: 375px;
}
