.dropdown-selector__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropdown-selector__current-container {
    display: flex;
    border-radius: 8px;
    background-color: var(--secondaryColor);
    padding: 4px;
    align-items: center;
}

.dropdown-selector__current-text {
    margin-right: 8px;
    color: white;
}

.dropdown-selector__selected-container {
    display: flex;
    flex: 1;
    border-radius: 4px;
}

.dropdown-selector__selected-container :hover {
    display: flex;
    flex: 1;
    border-radius: 4px;
    background-color: var(--secondaryLight);
}

.dropdown-selector__selected-text {
    color: white;
    padding: 0 4px;
}

.dropdown-selector__chevron {
}

.dropdown-selector__selector-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    margin-top: 8px;
    padding: 4px;
    border-radius: 8px;
    background-color: var(--secondaryColor);
}

.regular_text {
    font-family: Rubic, monospace;
    font-size: var(--regular);
    user-select: none;
}

.small_text {
    font-family: Rubic, monospace;
    font-size: var(--small);
    user-select: none;
}